.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.card-post{
    width: 50%;
    background-color: #f1f3f4;
    border-radius: 10px;
    border: 1px solid #8b8e92;
    display: box;
    padding: 5px;
    margin: 0px auto;
}

.userDetail{
    margin-bottom: 10px;      
}

.userName{
    display: inline;
    height: 150px;
    margin-bottom: 10px;
}   

.card-title{
    text-align: center;
}

.report{
    float: right;
}


.rate-comment{
    margin-bottom: 10px;   
    border: 1px solix #8b8e92;
      
}

.rate {
    display: inline; 
    float: left;
    padding: 0 10px;
    width: 50%;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.comment{
    width: 50%;
    display: inline;
    position: relative;
    text-align: center;
  text-decoration: none;

}
.comment:placeholder-shown{
    background-color: #edeff2;
}

